.swiper {
  @apply mx-auto relative overflow-hidden list-none w-screen;
}
.swiper-container-vertical > .swiper-wrapper {
  @apply flex-col;
}
.swiper-wrapper {
  @apply relative w-full flex box-content;
  transition-property: transform;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  @apply flex-wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  @apply flex-wrap flex-col;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  @apply mx-auto my-0;
}
.swiper-slide {
  @apply flex-shrink-0 box-border relative text-2xl md:text-4xl text-center flex justify-center items-center;
  padding: 0 var(--swiper-navigation-size);
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  @apply invisible;
}
:root {
  --swiper-navigation-size: 44px;
}
.swiper-button-next,
.swiper-button-prev {
  @apply absolute top-1/2 cursor-pointer flex justify-center items-center;
  z-index: 1;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  @apply pointer-events-none cursor-auto;
  opacity: 0.35;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: '\0276e';
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: '\0276f';
}
.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}
.swiper-button-next.swiper-button-black,
.swiper-button-prev.swiper-button-black {
  --swiper-navigation-color: #000000;
}
.swiper-button-lock {
  @apply hidden;
}
.swiper-container .swiper-notification {
  @apply absolute left-0 top-0 pointer-events-none opacity-0;
}
